html, body {
  margin: 0;
  width: 100%;

  line-height: 1.4;
}

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --light-green: #638e80;
  --dark-green: #243f2e;
  --light-grey: #999ca8;
}

.spaced {
  margin-top: 2rem;
}

.big-bottom {
  padding-bottom: 2rem;
}

.large {
  font-size: 1.6rem;
}

.cushy {
  padding: 0 4rem 2rem 4rem;
  line-height: 1.4;
}

.container {
  width: 100%;
}

.flex {
  display: flex;
}

.container-header {
  font-size: 2rem;
  font-family: 'Karla', sans-serif;
}

.container-pretty {
  line-height: 1.6;
  font-size: 1.4rem;
}

.navbar {
  background-color: var(--dark-green);
  color: white;
  padding: 0.5rem;

  /* overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0; */

  display: flex;
  align-items: center;
}

.navbar-title {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
}

.navbar-pages {
  list-style-type: none;
  flex-grow: 1;
  text-align: right;
}

.navbar-pages a {
  padding-left: 10px;
  text-decoration: none;
}

.inactive {
  color: var(--light-grey);
}

.active {
  color: white;
}

.h-centered {
  display: flex;
  justify-content: center;
  text-align: center;
}

.v-centered {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
}

@media only screen and (max-width: 640px) {
  .hide-small {
    display: none !important;
  }
}

@media only screen and (min-width: 640px) {
  .hide-small {
    display: block;
  }

  .container-header {
    padding: 2rem;
  }

  .row {
    padding: 0 20%;
  }

  .block {
    margin: 1rem 20%;
  }

  .container-pretty {
    margin: 0 5%;
    text-align: center;
  }

  .container-text {
    margin: 0 20%;
  }

  .navbar {
    padding: 1rem 20%;
  }
}

.block {
  border-left: 2px solid var(--light-grey);
  margin: 1rem 0;
  padding-left: 1rem;
}

.vision-header {
  font-size: 2rem;
}

.card {
  margin: 1rem;
  flex: 1;

  display: flex;
  flex-direction: column;
}

.card-title {
  padding-top: 1rem;
  font-size: 1.4rem;
}

.card-body {
  text-align: center;
  align-items: center;
  display: flex;
  padding: 1rem;
  flex: 1;
}

.dark-colored {
  background-color: var(--dark-green);
  color: white;
}

.dark-colored a {
  color: white;
}

.light-colored {
  background-color: var(--light-green);
}

.light-grey {
  color: white;
  background-color: var(--light-grey);
}

.white {
  background-color: white;
  color: var(--dark-green);
}

.footer {
  padding: 1rem 0;
  text-align: center;
  color: var(--light-grey);
}

img {
  max-width: 100%;
}

.split {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.split-content {
  padding: 2rem;
}

.centered {
  align-items: center;
  justify-content: center;
}
