html, body {
  margin: 0;
  width: 100%;

  line-height: 1.4;
  background-color: var(--white);
}

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-dark: #056571;
  --primary-light: #056571;

  --secondary-dark: #ff5a5f;
  --secondary-light: #F7C331;


  --neutral-dark: #3c3c3c;

  --white: #f5f5f5;
}

.spaced {
  margin-top: 2rem;
}

.big-bottom {
  padding-bottom: 2rem;
}

.large {
  font-size: 1.6rem;
}

.container {
  width: 100%;
}

.flex {
  display: flex;
}

.container-header {
  font-size: 2rem;
  font-family: 'Karla', sans-serif;
}

.container-pretty {
  line-height: 1.6;
  font-size: 1.4rem;
}

.navbar {
  background-color: var(--primary-dark);
  color: var(--white);
  padding: 0.5rem;
}

.navbar-title {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
}

.navbar-pages {
  list-style-type: none;
  flex-grow: 1;
  text-align: right;
}

.navbar-pages a {
  padding-left: 10px;
  text-decoration: none;
}

.inactive {
  color: var(--secondary-light);
}

.active {
  color: var(--white);
}

.h-centered {
  display: flex;
  justify-content: center;
  text-align: center;
}

.v-centered {
  display: flex;
  align-items: center;
}

.t-centered {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .navbar-title {
    justify-content: center;
  }

  .navbar-pages {
    text-align: center;
  }

  .donate-link {
    margin-top: 10px;
    display: block;
    text-align: center;
  }
}

@media only screen and (min-width: 800px) {
  .navbar {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 640px) {
  .hide-small {
    display: none !important;
  }

  .block {
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 640px) {
  .hide-small {
    display: block;
  }

  .container-header {
    padding: 2rem;
  }

  .row {
    display: flex;
    padding: 0 20%;
  }

  .block {
    margin: 1rem 20%;
  }

  .container-pretty {
    margin: 0 20%;
    text-align: center;
  }

  .container-text {
    margin: 0 20%;
  }

  .navbar {
    padding: 1rem 20%;
  }

  .cushy {
    padding: 0 4rem 2rem 4rem;
    line-height: 1.4;
  }

  .donate-active {
    border-radius: 1em;
  }

  .donate-inactive {
    border-radius: 1em;
  }
}

.donate-active {
  background-color: white;
  color: var(--neutral-dark);
  padding: 0.6em 0.6em 0.4em 0.6em;
}

.donate-inactive {
  background-color: var(--secondary-light);
  color: var(--neutral-dark);
  padding: 0.6em 0.6em 0.4em 0.6em;
}

.block {
  border-left: 2px solid var(--neutral-dark);
  padding-left: 1rem;
}

.vision-header {
  font-size: 2rem;
}

.card {
  margin: 1rem;
  flex: 1;

  display: flex;
  flex-direction: column;
}

.card-title {
  padding-top: 1rem;
  font-size: 1.4rem;
}

.card-body {
  text-align: center;
  align-items: center;
  display: flex;
  padding: 1rem;
  flex: 1;
}

.dark-primary {
  background-color: var(--primary-dark);
  color: var(--white);
}

a {
  color: var(--secondary-light);
}

.dark-secondary {
  background-color: var(--secondary-dark);
  color: var(--white);
}

.dark-grey {
  color: var(--white);
  background-color: var(--neutral-dark);
}

.white {
  background-color: var(--white);
  color: var(--primary-dark);
}

.footer {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.8rem;
}

img {
  max-width: 100%;
}

.top-border {
  border-top: 2px solid var(--primary-light);
}

.split {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.split-content {
  padding: 2rem;
}

.split-durham {
  background-image: url("/img/durham.jpg");
  background-repeat: no-repeat;
  background-position: center 35%;
  background-size: cover;
}

.split-economy {
  background-color: white;
  background-image: url("/img/economy.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}


.centered {
  align-items: center;
  justify-content: center;
}

.fill {
  flex: 1;
}

.dark-secondary {
  background-color: var(--secondary-dark);
}

#mc_embed_signup {
  clear: left;
}

.donate-button {
  background-color: var(--secondary-dark); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.donate-box {
  padding: 2em 0px;
}

.medium {
  font-size: 1.4em;
}

.calendar-container {
  margin-top: 2em;
}